<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>名单查看</title>
  <link rel="stylesheet" href="/static/css/layui.css" media="all">
</head>
<body>

<div style="width: 500px">
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="addItem">增加学生</button>
  </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="formAdd">
  <form id='addStu' class="layui-form" action="/searchItem/addStu/?itemId={{ itemId }}" method="post" >
      <div class="layui-form-item" style="width: 200px">
          <label class="layui-form-label">学号</label>
          <div class="layui-input-block">
              <input type="text" name="uid" required  lay-verify="required" autocomplete="off" class="layui-input">
          </div>
      </div>
      <div class="layui-form-item" style="width: 200px">
          <label class="layui-form-label">姓名</label>
          <div class="layui-input-block">
              <input type="text" name="name" required  lay-verify="required" autocomplete="off" class="layui-input">
          </div>
      </div>
      <div class="layui-form-item">
          <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
      </div>
  </form>
</script>

<script src="/static/js/jquery.min.js"></script>

<script src="/static/layui.js"></script>
<script>

layui.use('table', function(){
  var table = layui.table;
  var itemId = {{ itemId }};
  table.render({
    elem: '#test'
    ,url:'/searchItem/getStuItem/?itemId='+itemId
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print']
    ,title: '用户数据表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'uid', title:'学号', width:200, fixed: 'left', unresize: true, sort: true}
      ,{field:'name', title:'姓名', width:120, edit: 'text'}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
    ]]
    ,page: true
  });

  //头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
        case 'addItem':

            layer.open({
                type: 1,
                title: '增加学生',
                content: $('#formAdd').html(),
                yes: function(index, layero){
                    //do something
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
          break;
    }
  });

  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('真的删除名单么', function(index){
        $.post('/searchItem/delItem/', data);
        obj.del();
        layer.close(index);

      });
    }
    else if(obj.event === 'detail'){
        var url = `/searchItem/searchStu/?itemId=${data.uid}`
        window.parent.setFrameUrl(url)
    }
  });
});
</script>

</body>
</html>