<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>check</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.qrcode.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body bgcolor="aqua">
<div class="row">
    <p>{{ dt }}</p>
    <div class="vertical-align-middle" id="showQRCode" align="center">
        <img id="qrcode" width="420" height="420">
        <span id="info"></span>
    </div>
    <button onclick="getQRCode()">开始</button>
    <span id="info"></span>
</div>
</body>
<script type="text/javascript">
    let kk=0;
    let cls={{ class_list }};
    let drt={{ during_time }};
    function getQRCode(){
        setTimeout(getQRCode, 5000)
        $('#qrcode').removeAttr("src");
        $('#qrcode').attr('src', `/qrcode/?class_list=${cls}&during_time=${drt}&time=${new Date().getTime()}`);
        document.getElementById('info').innerText = kk.toString();
        kk++;

    }

</script>

</html>