<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>名单查看</title>
  <link rel="stylesheet" href="/static/css/layui.css" media="all">
</head>
<body>

<div style="width: 500px">
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="addItem">增加名单</button>
  </div>
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="formAdd">
  <form class="layui-form" action="/searchItem/addItem/" method="post" >
      <div class="layui-form-item">
          <label class="layui-form-label">名单名称</label>
          <div class="layui-input-block">
              <input type="text" name="name" required  lay-verify="required" autocomplete="off" class="layui-input">
          </div>
      </div>
      <div class="layui-form-item">
          <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
      </div>
  </form>
</script>

<script src="/static/js/jquery.min.js"></script>

<script src="/static/layui.js"></script>
<script>
layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#test'
    ,url:'/getItems/'
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print']
    ,title: '用户数据表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'uid', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
      ,{field:'name', title:'名单', width:120, edit: 'text'}
      ,{field:'stu', title:'学生', width: 80}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
    ]]
    ,page: true
  });

  //头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
        case 'getCheckData':
            var data = checkStatus.data;
            layer.alert(JSON.stringify(data));
            break;
        case 'getCheckLength':
            var data = checkStatus.data;
            layer.msg('选中了：'+ data.length + ' 个');
            break;

        case 'addItem':
            layer.open({
                type: 1,
                title: '增加名单',
                content: $('#formAdd').html(),
                yes: function(index, layero){
                    //do something
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
          {#layer.alert('111');#}
          break;
    }
  });

  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('真的删除名单么', function(index){
        $.post('/searchItem/delItem/', data);
        obj.del();
        layer.close(index);

      });
    }
  });
});
</script>

</body>
</html>