<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到</title>
    <link rel="stylesheet" href="/static/css/layui.css"  media="all">

</head>
<body bgcolor="#f5f5dc">
<div style="text-align: center;vertical-align: center">
    <form class="layui-form" action="" type="post" lay-filter="formSubmit" method="post">
        <div class="layui-form-item" style="width: 400px;margin-top: 180px;margin-left: 300px;">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-block">
                <input type="text" name="stu_id" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="width: 400px;margin-top: 50px;margin-left: 300px;">
            <label class="layui-form-label">经度:</label>
            <div class="layui-input-block">
                <input id="E" class="layui-input" name="E" type="text" readonly>
            </div>
        </div>
        <div class="layui-form-item" style="width: 400px;margin-top: 50px;margin-left: 300px;">
            <label class="layui-form-label">纬度:</label>
            <div class="layui-input-block">
                <input id="N" class="layui-input" name="N" type="text" readonly>
            </div>
        </div>
        <div class="layui-form-item" style="width: 500px;margin-top: 50px;margin-left:250px;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="go_check">签到</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/layui.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>
    window.navigator.geolocation.getCurrentPosition(
        function (position) {
            var longitude = position.coords.longitude;
            var latitude = position.coords.latitude;
            $('#E').attr('value', longitude);
            $('#N').attr('value', latitude);

        },
        function onError(error) {
            //alert(error.message);
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("您拒绝对获取地理位置的请求");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("位置信息是不可用的");
                    break;
                case error.TIMEOUT:
                    alert("请求您的地理位置超时");
                    break;
            }
        }
    );
    //写cookies
    function setCookie(name, value) {
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
    }

    //读取cookies
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

        if (arr === document.cookie.match(reg)) return unescape(arr[2]);
        else return null;
    }
</script>
</body>
</html>