<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>补签</title>
    <link rel="stylesheet" href="/static/css/layui.css"  media="all">
    <link rel="stylesheet" href="/static/css/normal.css"  media="all">
</head>
<body bgcolor="#f5f5dc">
<div style="text-align: center;vertical-align: center">
    <form class="layui-form" action="" type="post" lay-filter="formSubmit" method="post">
        <div class="layui-form-item" style="width: 400px;margin-top: 180px;margin-left: 300px;">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-block">
                <input type="text" name="stu_id" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="width: 400px;margin-top: 50px;margin-left: 300px;">
            <label class="layui-form-label">补签原因</label>
            <div class="layui-input-block">
                <input type="text" name="recheck_reason" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item" style="width: 500px;margin-top: 50px;margin-left:250px;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="go_recheck">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/layui.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>
    layui.use(['form'],function (){
        var form = layui.form;
        form.on('submit(formSubmit)', function (data){
            data.field.check_id = {{ check_id }};
            $.ajax({
                url : '/stuRecheck/',
                data: data.field,
                type: 'POST',
                success:function (data){
                    layer.msg("提交成功")
                }
            });
        });
    });
</script>
</body>
</html>