<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发起请假</title>
    <link rel="stylesheet" href="/static/css/layui.css" media="all">

</head>
<body>
<form class="layui-form" action="" type="post">
    <div class="layui-form-item">
        <label class="layui-form-label">名单选择</label>
        <div class="layui-input-block">
            <select name="class_list" lay-filter="class_list" style="display: block;">
                {% for cls in class_list %}
                    <option value={{ cls.uid }}>{{ cls.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
          <button type="submit" class="layui-btn" lay-submit="" lay-filter="go_check">立即提交</button>
        </div>
    </div>
</form>
<script src="/static/js/jquery.min.js"></script>

<script src="/static/layui.js"></script>
</body>
</html>