<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扫码结果</title>
</head>
<body>
<div style="vertical-align: middle;text-align: center">
    <h1>{{ res_msg }}</h1>
</div>
<script>
     {#window.navigator.geolocation.getCurrentPosition(#}
     {#       function (position) {#}
     {#           var longitude = position.coords.longitude;#}
     {#           var latitude = position.coords.latitude;#}
     {#           alert(longitude);#}
     {#           alert(latitude);#}
     {#       },#}
     {#       function onError(error) {#}
     {#           //alert(error.message);#}
     {#           switch (error.code) {#}
     {#               case error.PERMISSION_DENIED:#}
     {#                   alert("您拒绝对获取地理位置的请求");#}
     {#                   break;#}
     {#               case error.POSITION_UNAVAILABLE:#}
     {#                   alert("位置信息是不可用的");#}
     {#                   break;#}
     {#               case error.TIMEOUT:#}
     {#                   alert("请求您的地理位置超时");#}
     {#                   break;#}
     {#           }#}
     {#       }#}
     {#   );#}
</script>
</body>
</html>