<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/teacher.css">
    <link rel="stylesheet" href="/static/css/normal.css">
    <link rel="stylesheet" href="/static/css/hover.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
    <!-- 头部 -->
    <div class="header">
            <div class="logo">
                考勤管理系统
            </div>
            <div class="head-right">
                33
            </div>


    </div>
    <!-- 侧边栏 -->
    <div class="side">
            <ul class="side-items">
                <li class="side-item hvr-border-fade" title="发起签到">
                    <a href="/check/">发起签到</a>
                </li>
                <li class="side-item hvr-border-fade" title="查看数据">
                    <a href="/data/">查看数据</a>
                </li>
                <li class="side-item hvr-border-fade" title="请假通知">
                    <a href="/notice/">请假通知</a>
                </li>
                <li class="side-item hvr-border-fade" title="设置名单">
                    <a href="/manage/">设置名单</a>
                </li>

            </ul>
        <!--面板底部结束-->
    </div>
    <div class="div-main">
        233
    </div>

</div>
<!--面板结束-->
</body>
</html>